<style>
#worker_invisibility{
  display: none;
}
</style>

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "workers/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field"><br />
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field"><br />
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field"><br />
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
      
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %> 
  </div>

  <div class="field">
    <%= f.label :specialty %><br />
    <%= f.select :specialty, $SPECIALTY_TYPES, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :street_address %><br />
    <%= f.text_field :street_address, autofocus: true %>  
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autofocus: true %>  
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autofocus: true %> 
  </div>

  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code, autofocus: true %> 
  </div>

  <div class="field"><br />
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  
  <br>
  <p>Would you like to hide your name from the available worker list?
    <%if current_worker.invisibility == 0 %>
      <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitches">
          <label class="custom-control-label" for="customSwitches">Name hidden</label>
      </div>
    <% else %>
      <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitches" checked>
          <label class="custom-control-label" for="customSwitches">Name hidden</label>
      </div>
    <% end %>
  </p>
<!-- This none diplaying number field is used to capture the change of the toggle control
      and update the invisability attribute of the worker when form is submitted. -->
  <%= f.number_field :invisibility %>
  <div class="actions"><br />
    <%= f.submit "Update" %>
  </div>
<% end %><br />

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

<script>
document.getElementById('customSwitches').addEventListener('click', updateWorkerVisability )

function updateWorkerVisability(event) {

  var isChecked = this.checked;
  console.log(isChecked);
  var status = 0;
  if (isChecked){
    status = 1
  }
  document.getElementById('worker_invisibility').value = status;
}
</script>