
<div class = "container p-3 my-3 bg-light">
<h1 class="text-center p-3">Details About <%= @worker.first_name %></h1>

  <table class="table text-center w-50 mx-auto">

    <thead class="thead-dark">
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @worker.first_name %> </td>
          <td><%= @worker.last_name %> </td>
        </tr>
    </tbody>

  </table>

  <table class="table text-center w-50 mx-auto">

    <thead class="thead-dark">
      <tr>
          <th>Email</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @worker.email %></td>
        </tr>
    </tbody>

  </table>

  <table class="table text-center w-50 mx-auto">

    <thead class="thead-dark">
      <tr>
          <th>Specialty</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @worker.specialty %></td>
        </tr>
    </tbody>

  </table>

<% if @worker.reviews.size() != 0 %>
  <div class="card border border-secondary w-50 mx-auto">
    <div class="card-header bg-light" id="heading">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapseOne" onclick="this.blur();">
          <p>Show Reviews</p>
        </button>
      </h5>
    </div>

    <div id="collapse" class="collapse bg-light" aria-labelledby="heading">
      <div class="card-body">
        <% @worker.reviews.each do |review|%>
          <div class="container p-3 mb-5 mt-5" style="border-bottom: 1px solid black;">
            <% @review = review%>
            <%= render :partial => 'reviews/review', locals: { review: @review } %>
            <p class="p-3"> Reviewed by <%= review.customer_name%> </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% else %>
    <h3 class= "text-center"> No Available Reviews </h3>
<% end %>

</div>