<h1 class="text-center">Available Workers</h1>

<div class="posting">
  <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Filter
  </a>
  <div class="collapse" id="collapseExample">
    <li class="list-inline-item dropdown">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Type
      </button>
      <div class="dropdown-menu">
        <!-- loop way of displaying the menu -->
        <% $SPECIALTY_TYPES.each_with_index do |type, index|%>
          <p>
            <%= link_to $SPECIALTY_TYPES.at(index).to_s, worker_directory_path(index), class: 'dropdown-item'%>
          </p>
        <% end %>
        <%= link_to "See All", worker_directory_path(-1), class: 'dropdown-item'%>
      </div>
    </li>

    <li class="list-inline-item dropdown">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort By
      </button>
      <div class="dropdown-menu">
        <%= link_to "First Name", worker_directory_path(:sort => "first_name"), class: 'dropdown-item'%>
        <%= link_to "Last Name", worker_directory_path(:sort => "last_name"), class: 'dropdown-item'%>
      </div>
    </li>

    <li class="list-inline-item dropdown">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Example 2
      </button>
      <div class="dropdown-menu">
        <!-- loop way of displaying the menu -->
        <% $SPECIALTY_TYPES.each_with_index do |type, index|%>
          <p>
            <%= link_to $SPECIALTY_TYPES.at(index).to_s, worker_directory_path(index), class: 'dropdown-item'%>
          </p>
        <% end %>
        <%= link_to "See All", worker_directory_path(-1), class: 'dropdown-item'%>
      </div>
    </li>
  </div>

<p></p>

<table class="table table-hover">

  <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Specialty</th>
        <th></th>
    </tr>
  </thead>

  <tbody>
    <% @workers_to_display.each do |w| %>
      <% if w.invisibility != 1%>
      <tr>
        <td><%= w.first_name %> <%= w.last_name %></td>
        <td><%= w.specialty %></td>
        <td><%= link_to 'More Info', worker_path(@index, w) %></td>
      </tr>
      <% end %> 
    <% end %>
  </tbody>

</table>

<p>
  <%= link_to 'Home', home_path, class: 'btn btn-primary'%>
</p>