<h1 class="header-center">Job Board</h1>
<th></th>
<div class="posts">
  <% @jobs.each_with_index do |job, index| %>
    <div class="posting">
      <a data-toggle="collapse" href="#collapseExample<%= index %>" role="button" aria-expanded="false" aria-controls="collapseExample">
        <%= job.name %>
      </a>

      <div class="collapse" id="collapseExample<%= index %>">
        <div class="card card-body">
          <h3><%= job.customer.first_name%></h3>
          <p><%= job.speciality %></p>
          <p><%= job.description %></p>
          <p>For more information, contact <span style="font-weight:bold"><%= job.customer.first_name%></span> at:
            <li><%= job.customer.email%></li>
          </p>
          <%# The Delete button allows users to remove a posted job from the job board.
           This happens because delete_job_path takes the job id and calles the destroy 
           function in the job_controller.
           %>
           <%# The button will show only when a customer is signed in and they have a job posted.%>
          <% if customer_signed_in?%>
            <% if job.customer_id == current_customer.id%>
              <td><%= link_to "Delete", delete_job_path(job), method: :delete, class: "btn btn-custom-color" %></td>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

<% end %>

  <div style="margin-top:20px;">
    <% if customer_signed_in? && $SWITCH == 1%>
      <p>
        <%= link_to "Add A Job Posting", new_job_path, class: 'btn btn-custom-color'%>
      </p>
    <% end %>
  </div>
  
</div>



