<h1> This is the skeleton of the Jobs board. </h1>

<% @jobs.each do |job| %>
    <p>Posted By: <%= job.customer.first_name%></p>
    <p>Job Name: <%= job.name %></p>
    <p>Job type: <%= job.speciality %></p>
    <p>Job Description: <%= job.description %></p>
<% end %>

<p>
  <%= link_to "Add A Job Posting", new_job_path, class: 'btn btn-custom-color'%>
</p>