<h1 class="header-center">Job Board</h1>
<div class="container-fluid">
  <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Filter
  </a>
  <div class="collapse" id="collapseExample">
    <li class="list-inline-item dbtn-group dropright">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Type
      </button>
      <div class="dropdown-menu">
        <!-- loop way of displaying the menu -->
        <% $SPECIALTY_TYPES.each_with_index do |type, index|%>
          <p>
            <%= link_to $SPECIALTY_TYPES.at(index).to_s, job_type_path(index), class: 'dropdown-item'%>
          </p>
        <% end %>
        <%= link_to "See All", job_type_path(-1), class: 'dropdown-item'%>
      </div>
    </li>
  </div>
</div>

<div style="margin-top:20px;">
  <% if customer_signed_in? && $SWITCH == 1%>
    <p>
      <%= link_to "Add A Job Posting", new_job_path, class: 'btn btn-custom-color'%>
    </p>
  <% end %>
</div>


<div class="posts">
  <% if @jobs.size() == 0 %>
    <div class="container-fluid p-3 my-3 bg-light text-black">
      <p>
        There are no job posts at this time. Come back later.
      </p>
    </div>
  <% else %>
    <% @jobs.each do |job| %>
      <div class="container-fluid p-3 my-3 bg-light text-black">
        <% @job = job %>
        <%= render :partial => 'job', locals: { job: @job } %>
        
        <p>For more information, contact <span style="font-weight:bold"><%= job.customer.first_name%></span> at:
          <li><%= job.customer.email%></li>
        </p>
        <%# The Delete button allows users to remove a posted job from the job board.
        This happens because delete_job_path takes the job id and calles the destroy 
        function in the job_controller.
        %>
        <%# The button will show only when a customer is signed in and they have a job posted.%>
        <% if customer_signed_in?%>
          <% if job.customer_id == current_customer.id%>
            <td><%= link_to "Delete", delete_job_path(job), method: :delete, class: "btn btn-custom-color" %></td>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  
</div>



