<h1 class="header-center">My Jobs</h1>


<div class="posts">
  <% @jobs.each_with_index do |job, index| %>

  <% if job.customer_id == current_customer.id%>
  
    <div class="posting">
      <a data-toggle="collapse" href="#collapseExample<%= index %>" role="button" aria-expanded="false" aria-controls="collapseExample">
        <%= job.name %>
      </a>

      <div class="collapse" id="collapseExample<%= index %>">
        <div class="card card-body">
          <h3><%= job.customer.first_name%></h3>
          <p><%= job.specialty %></p>
          <p><%= job.description %></p>
          <p>For more information, contact <span style="font-weight:bold"><%= job.customer.first_name%></span> at:
            <li><%= job.customer.email%></li>
              <p> <%= link_to 'edit', edit_path(job), class: 'btn btn-custom-color' %> </p>
          </p>
        </div>
      </div>
    </div>
<% end %>

<% end %>

  <div style="margin-top:20px;">
    <% if customer_signed_in? && $SWITCH == 1%>
      <p>
        <%= link_to "Add A Job Posting", new_job_path, class: 'btn btn-custom-color'%>
      </p>
    <% end %>
  </div>
  
</div>