<style>
  img{
    display: inline-block;
    width: 10pt;
    height: 10pt;
    padding: 0px 1px;
  }
 .hidden{
    display: none;
  }

  .rating{
    display: block;
  }

</style>


<h1 class="header-center">My Jobs</h1>

<body>
  <div class="btn-group container-fluid p-3 my-3 text-black">
    <button id="not-completed" type="button" class="btn btn-primary active">not started</button>
    <button id="in-progress" type="button" class="btn btn-primary">in-progress</button>
    <button id="completed" type="button" class="btn btn-primary">completed</button>
  </div>

  <div id="posts not-completed"> 
    
    <div style="margin-top:20px;">
      <% if customer_signed_in? && $SWITCH == 1%>
        <p>
          <%= link_to "Add A Job Posting", new_job_path, class: 'btn btn-custom-color'%>
        </p>
      <% end %>
    </div>
    
    <% @jobs.each do |job| %>
      <% if job.customer_id == current_customer.id and job.completed == false and job.in_progress == false%>
        <div class="container-fluid p-3 my-3 bg-light text-black">
          <%= job.name %>
          <h3>Posted By <%= job.customer.first_name%></h3>
          <p><%= job.specialty %></p>
          <p><%= job.description %></p>
        </div>
      <% end %>
    <% end %>

  </div>

  <div id="posts in-progress" class="hidden">
    <% @jobs.each do |job| %>
      <% if job.customer_id == current_customer.id and job.in_progress == true%>
        <div class="container-fluid p-3 my-3 bg-light text-black">
          <%= job.name %>
          <h3>Posted By <%= job.customer.first_name%></h3>
          <p><%= job.specialty %></p>
          <p><%= job.description %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="posts completed" class="hidden">
  
    <% @jobs.each do |job| %>
      
      <% if job.customer_id == current_customer.id and job.completed == true%>
        <% if job.reviews != nil%>
          <% ratings = [job.reviews.reliability_rating, job.reviews.honesty_rating, job.reviews.skill_rating, job.reviews.focused_rating]%>
        <% end %>
        
        <div class="container-fluid p-3 my-3 bg-light text-black">
          <h1><%= job.name %></h1>
          <p>Posted By <strong> <%= job.customer_name%> </strong> </p>
          <p> Indicated Specialization: <%= job.specialty %></p>
          <p>Job Info: <%= job.description %></p>

          <p>Completed By <%= link_to job.worker_name, worker_path(1, job.worker_id) %></p>

          <% if job.reviews == nil%>
            <div data-turbolinks="false">
              <p>
                <%= link_to 'add a review', new_review_path(job), class: "btn btn-custom-color" %>
              </p>
            </div>
          <% else %>
            
            <div id="review">
              
              <h5 style="font-weight:bold;">Review of Worker Performance on the Job</h5>
              <h6 style="font-weight:bold;"><%= job.reviews.headline%></h6>

              <p><%= job.reviews.body %></p>

              
              <p> Reliability: </p>
              

              <div class="rating">
                <% i = 1 %>
                <% while i < 6%>
                  <img src="<%= asset_path 'star-blue-outline.svg' %>" id='<%= i%>' class='star'/>
                  <%i = i + 1%>
                <% end %>
              </div>

              <br>

              
              <p> Honesty: </p>
              

              <div class="rating">
                <% while i < 11%>
                  <img src="<%= asset_path 'star-blue-outline.svg' %>" id='<%= i%>' class='star'/>
                  <%i = i + 1%>
                <% end %>
              </div>

              <br>

              
              <p> Skill: </p>
              

              <div class="rating" >
                <% while i < 16%>
                  <img src="<%= asset_path 'star-blue-outline.svg' %>" id='<%= i%>' class='star'/>
                  <%i = i + 1%>
                <% end %>
              </div>

              <br>

              
              <p> Focus: </p>

              <div class="rating">
                <% while i < 21%>
                  <img src="<%= asset_path 'star-blue-outline.svg' %>" id='<%= i%>' class='star'/>
                  <%i = i + 1%>
                <% end %>
              </div>

              <!-- there is a picture uploaded, just cant figure out how to display -->

            </div>

          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

<script>
  var btn1 = document.getElementById('completed');
  var btn2 = document.getElementById('not-completed');
  var btn3 = document.getElementById('in-progress');

  btn1.addEventListener("click", onClick);
  btn2.addEventListener("click", onClick);
  btn3.addEventListener("click", onClick);

  function onClick(event){
    let className = event.target.className;
    let id = event.target.id;

    if(id == "completed"){
      document.getElementById("posts not-completed").className = "hidden"
      document.getElementById("posts in-progress").className = "hidden"
      event.target.className = "btn btn-primary active"
      document.getElementById("not-completed").className = "btn btn-primary"
      document.getElementById("in-progress").className = "btn btn-primary"
      document.getElementById("posts completed").className = ""
    }
    else if(id == "in-progress"){
      document.getElementById("posts not-completed").className = "hidden"
      document.getElementById("posts completed").className = "hidden"
      event.target.className = "btn btn-primary active"
      document.getElementById("not-completed").className = "btn btn-primary"
      document.getElementById("completed").className = "btn btn-primary"
      document.getElementById("posts in-progress").className = ""
    }
    else{
      document.getElementById("posts in-progress").className = "hidden"
      document.getElementById("posts completed").className = "hidden"
      event.target.className = "btn btn-primary active"
      document.getElementById("in-progress").className = "btn btn-primary"
      document.getElementById("completed").className = "btn btn-primary"
      document.getElementById("posts not-completed").className = ""
    }
  }

  function rating(reliability, honesty, skill, focused) {
    reliabilityStars(reliability);
    honestyStars(honesty);
    skillStars(skill);
    focusedStars(focused);
  }

  function reliabilityStars(rating){
    while(rating > 0){
      document.getElementById(rating.toString()).src = "<%= asset_path 'star-fill-grey-with-outline.svg'%>"; 
      rating = rating - 1;
    }
  }

  function honestyStars(rating){
    rating = rating + 5;
    while(rating > 5){
        document.getElementById(rating.toString()).src = "<%= asset_path 'star-fill-grey-with-outline.svg'%>"; 
        rating = rating - 1;
    }
  }

  function skillStars(rating){
    rating = rating + 10;
    while(rating > 10){
        document.getElementById(rating.toString()).src = "<%= asset_path 'star-fill-grey-with-outline.svg'%>"; 
        rating = rating - 1;
    }
  }

  function focusedStars(rating){
    rating = rating + 15;
    while(rating > 15){
        document.getElementById(rating.toString()).src = "<%= asset_path 'star-fill-grey-with-outline.svg'%>"; 
        rating = rating - 1;
    }   
  }

</script>

</body>