<style>
  img{
    display: inline-block;
    width: 10pt;
    height: 10pt;
    padding: 0px 1px;
  }
 .hidden{
    display: none;
  }

  .rating{
    display: block;
  }

</style>


<h1 class="header-center">My Jobs</h1>

<body>
  <div class="btn-group container-fluid p-3 my-3 text-black">
    <button id="not-completed" type="button" class="btn btn-primary active">not started</button>
    <button id="in-progress" type="button" class="btn btn-primary">in-progress</button>
    <button id="completed" type="button" class="btn btn-primary">completed</button>
  </div>

  <div id="posts not-completed"> 
    
    <div style="margin-top:20px;">
      <% if customer_signed_in? && $SWITCH == 1%>
        <p>
          <%= link_to "Add A Job Posting", new_job_path, class: 'btn btn-custom-color'%>
        </p>
      <% end %>
    </div>
    
    <% @jobs.each do |job| %>
    
      

      <% if job.customer_id == current_customer.id and job.completed == false and job.in_progress == false%>
        <div class="container-fluid p-3 my-3 bg-light text-black">

          <% @job = job %>
          <%= render :partial => 'job', locals: { job: @job } %>
        
        </div>
      
      <% end %>
    <% end %>

  </div>

  <div id="posts in-progress" class="hidden">
    <% @jobs.each do |job| %>
      <% if job.customer_id == current_customer.id and job.in_progress == true%>
        <div class="container-fluid p-3 my-3 bg-light text-black">

          <% @job = job %>
          <%= render :partial => 'job', locals: { job: @job } %>
        
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="posts completed" class="hidden">
  
    <% @jobs.each do |job| %>
      
      <% if job.customer_id == current_customer.id and job.completed == true%>
        <% if job.reviews != nil%>
          <% ratings = [job.reviews.reliability_rating, job.reviews.honesty_rating, job.reviews.skill_rating, job.reviews.focused_rating]%>
        <% end %>
        
        <div class="container-fluid p-3 my-3 bg-light text-black">

          <% @job = job %>
          <%= render :partial => 'job', locals: { job: @job } %>

          <p>Completed By <%= link_to job.worker_name, worker_path(1, job.worker_id) %></p>

          <% if job.reviews == nil%>
            <div data-turbolinks="false">
              <p>
                <%= link_to 'add a review', new_review_path(job), class: "btn btn-custom-color" %>
              </p>
            </div>
          <% else %>

            <% @review = job.reviews%>
            <%= render :partial => 'reviews/review', locals: { review: @review } %>
          
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

<script>
  var btn1 = document.getElementById('completed');
  var btn2 = document.getElementById('not-completed');
  var btn3 = document.getElementById('in-progress');

  btn1.addEventListener("click", onClick);
  btn2.addEventListener("click", onClick);
  btn3.addEventListener("click", onClick);

  function onClick(event){
    let className = event.target.className;
    let id = event.target.id;

    if(id == "completed"){
      document.getElementById("posts not-completed").className = "hidden"
      document.getElementById("posts in-progress").className = "hidden"
      event.target.className = "btn btn-primary active"
      document.getElementById("not-completed").className = "btn btn-primary"
      document.getElementById("in-progress").className = "btn btn-primary"
      document.getElementById("posts completed").className = ""
    }
    else if(id == "in-progress"){
      document.getElementById("posts not-completed").className = "hidden"
      document.getElementById("posts completed").className = "hidden"
      event.target.className = "btn btn-primary active"
      document.getElementById("not-completed").className = "btn btn-primary"
      document.getElementById("completed").className = "btn btn-primary"
      document.getElementById("posts in-progress").className = ""
    }
    else{
      document.getElementById("posts in-progress").className = "hidden"
      document.getElementById("posts completed").className = "hidden"
      event.target.className = "btn btn-primary active"
      document.getElementById("in-progress").className = "btn btn-primary"
      document.getElementById("completed").className = "btn btn-primary"
      document.getElementById("posts not-completed").className = ""
    }
  }

</script>

</body>