<h2 class="text-center"> <%= @worker.first_name %>'s Work Performance </h2>

<p>
    <%= link_to 'Back',worker_path(@index), class: 'btn' %>
</p>

<body>
    <% @job.each_with_index do |job, index| %>
        <% if job.reviews != nil %>
            
            <% ratings = [job.reviews.reliability_rating, job.reviews.honesty_rating, job.reviews.skill_rating, job.reviews.focused_rating]%>

            <div class="posting">
                <a data-toggle="collapse" href="#collapseExample<%= index %>" role="button" aria-expanded="false" aria-controls="collapseExample" onclick="rating(<%= ratings[0]%>, <%= ratings[1]%>,<%= ratings[2]%>,<%= ratings[3]%>)">
                <h6 style="font-weight:bold;"><%= job.reviews.headline%></h6>
                </a>
                <div class="collapse" id="collapseExample<%= index %>">
                    <div class="card card-body">
                        <div id="review">
                            <p>Author: <%= job.customer_first_name %></p>
                            <h5 style="font-weight:bold;">Review of <%= job.worker.first_name %>'s Performance on the Job</h5>
                        
                            <p><%= job.reviews.body %></p>

                            <div id="reliability">
                                Reliability:
                            <div>

                            <div class="rating">
                                <% i = 1 %>
                                <% while i < 6%>
                                <img src="<%= asset_path 'star-blue-outline.svg' %>" id='<%= i%>' class='star'/>
                                <%i = i + 1%>
                                <% end %>
                            </div>

                            <br>

                            <div id="honesty">
                                Honesty:
                            </div>

                            <div class="rating">
                                <% while i < 11%>
                                <img src="<%= asset_path 'star-blue-outline.svg' %>" id='<%= i%>' class='star'/>
                                <%i = i + 1%>
                                <% end %>
                            </div>

                            <br>

                            <div id="skill">
                                Skill:
                            </div>

                            <div class="rating">
                                <% while i < 16%>
                                <img src="<%= asset_path 'star-blue-outline.svg' %>" id='<%= i%>' class='star'/>
                                <%i = i + 1%>
                                <% end %>
                            </div>

                            <br>

                            <div id="focus">
                                Focus:
                            </div>

                            <div class="rating">
                                <% while i < 21%>
                                <img src="<%= asset_path 'star-blue-outline.svg' %>" id='<%= i%>' class='star'/>
                                <%i = i + 1%>
                                <% end %>
                            </div>

                            <!-- there is a picture uploaded, just cant figure out how to display -->

                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>


    <script>
    
    function stars(number){
        let i = 0;
        
    }

    function rating(reliability, honesty, skill, focused) {
        reliabilityStars(reliability);
        honestyStars(honesty);
        skillStars(skill);
        focusedStars(focused);
    }

    function reliabilityStars(rating){
        while(rating > 0){
        document.getElementById(rating.toString()).src = "<%= asset_path 'star-fill-grey-with-outline.svg'%>"; 
        rating = rating - 1;
        }
    }

    function honestyStars(rating){
        rating = rating + 5;
        while(rating > 5){
            document.getElementById(rating.toString()).src = "<%= asset_path 'star-fill-grey-with-outline.svg'%>"; 
            rating = rating - 1;
        }
    }

    function skillStars(rating){
        rating = rating + 10;
        while(rating > 10){
            document.getElementById(rating.toString()).src = "<%= asset_path 'star-fill-grey-with-outline.svg'%>"; 
            rating = rating - 1;
        }
    }

    function focusedStars(rating){
        rating = rating + 15;
        while(rating > 15){
            document.getElementById(rating.toString()).src = "<%= asset_path 'star-fill-grey-with-outline.svg'%>"; 
            rating = rating - 1;
        }   
    }

    </script>
</body>
