<h1 class="text-center"><%= current_customer.first_name %>'s Profile</h1>

<table class="table table-sm table-striped ml-4" style="max-width: 25rem;">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email Address</th>
    </tr>
  </thead>

    <tbody>
        <tr>
        <td><%= current_customer.first_name %> <%= current_customer.last_name %></td>
        <td><%= current_customer.email %></td>
        </tr>
    </tbody>
</table>

<table class="table table-sm table-striped ml-4" style="max-width: 25rem;">
    <thead class="thead-dark">
        <tr>
        <th>Street Address</th>
        </tr>
    </thead>

    <tbody>
        <tr>
        <td><%= current_customer.street_address %></td>
        </tr>
        <thead class="thead-dark">
            <tr>
            <th>City/State</th>
            </tr>
        </thead>
        <tr>
        <td><%= current_customer.city %>, <%= current_customer.state %></td>
        </tr>
        <thead class="thead-dark">
            <tr>
            <th>Zip Code</th>
            </tr>
        </thead>
        <tr>
        <td><%= current_customer.zip_code %></td>
        </tr>
    </tbody>
</table>

<p>
    <%= link_to 'My Jobs',my_jobs_path(), class: 'btn btn-primary' %>
</p>

<p>
    <%= link_to 'Edit Profile',edit_customer_registration_path(current_customer), class: 'btn btn-primary' %>
</p>
<p>
    <%= link_to 'Home',home_path, class: 'btn btn-primary' %>
</p>