<h1>Job Board. </h1>

<% @jobs.each_with_index do |job, index| %>
  <p>
    <a data-toggle="collapse" href="#collapseExample<%= index %>" role="button" aria-expanded="false" aria-controls="collapseExample">
      <%= job.name %>
    </a>
  </p>

  <div class="collapse" id="collapseExample<%= index %>">
    <div class="card card-body">
      <p>Job Name: <%= job.name %></p>
      <p>Job type: <%= job.speciality %></p>
      <p>Job Description: <%= job.description %></p>
    </div>
  </div>

<% end %>

