<style>
  #star{
    display: inline-block;
    width: 15pt;
    height: 15pt;
    padding: 0px 1px;
  }
  img{
    width: 200px;
    height: 200px;
  }
 .hidden{
    display: none;
  }

  .rating{
    display: block;
  }

  body{
    background-image: url(<%= asset_path 'vintage-wood.jpg' %>);
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    body{
      background-repeat: repeat;
      background-size: 400%;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    body{
      background-repeat: repeat;
      background-size: 300%;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    body{
      background-repeat: repeat;
      background-size: 200%;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    body{
      background-repeat: repeat;
      background-size: 150%;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body{
      background-repeat: no-repeat;
      background-size: 150%;
    }
  }


</style>

<body>
<div class="container-fluid p-5" style="background: rgba(0, 0, 0, 0.5);">
  <h1 class="header-center text-light">Hi, <%= current_customer.first_name%> </h1>
  <p class="container p-2 text-center text-light h3">Here are your job listings</p>

  <div class="btn-group container-fluid p-3 my-3 text-black">
    <button id="not-completed" type="button" class="btn btn-light-blue active">not started</button>
    <button id="in-progress" type="button" class="btn btn-light-blue">in-progress</button>
    <button id="completed" type="button" class="btn btn-light-blue">completed</button>
  </div>

  <div id="posts not-completed"> 
    
    <div style="margin-top:20px;">
      <p>
        <%= link_to "Add A Job Posting", new_job_path, class: 'btn btn-custom-color'%>
      </p>
    </div>
    
    <% if @not_started_jobs.size() == 0 %>

      <div class="container-fluid p-3 my-3 bg-light text-black">
        <%= render :partial => 'job/no_jobs_message'%>
      </div>
      
    <% else %>
      <% @not_started_jobs.each do |job| %>
        <% if job.customer_id == current_customer.id and job.completed == false and job.in_progress == false%>

          <div class="container-fluid p-3 my-3 bg-light text-black">
            <% @job = job %>
            <%= render :partial => 'job/job', locals: { job: @job } %>
            <td><%= link_to "Delete", delete_job_path(job), method: :delete, class: "btn btn-custom-color" %></td>
          </div>

        <% end %>
      <% end %>
    <% end %>

  </div>

  <div id="posts in-progress" class="hidden">

    <% if @in_progress_jobs.size() == 0 %>
      <div class="container-fluid p-3 my-3 bg-light text-black">
        <%= render :partial => 'job/no_jobs_in_progress_message'%>
      </div>

    <% else %>
      <% @in_progress_jobs.each do |job| %>
        <% if job.customer_id == current_customer.id and job.in_progress == true%>

          <div class="container-fluid p-3 my-3 bg-light text-black">
            <% @job = job %>
            <%= render :partial => 'job/job', locals: { job: @job } %>
          </div>

        <% end %>
      <% end %>
    <% end %>
  </div>

  <div id="posts completed" class="hidden">
    <% if @completed_jobs.size() == 0 %>
      <div class="container-fluid p-3 my-3 bg-light text-black">
        <%= render :partial => 'job/no_jobs_completed_message'%>
      </div>

    <% else %>
      <% @completed_jobs.each_with_index do |job, index| %>
        <% @review = job.reviews%>
        <% if job.customer_id == current_customer.id and job.completed == true%>
          <% if job.reviews != nil%>
            <% ratings = [job.reviews.reliability_rating, job.reviews.honesty_rating, job.reviews.skill_rating, job.reviews.focused_rating]%>
          <% end %>
          <div class="container-fluid p-3 my-3 bg-light text-black">
            <% @job = job %>
            
            <%= render :partial => 'job/job', locals: { job: @job } %>

            <p>Completed By <%= link_to job.worker_name, worker_path(1, job.worker_id) %></p>
            <% if job.reviews == nil%>
              <div class="btn-group container-fluid p-3 my-3 text-black w-25">
                <%= link_to 'add a review', new_review_path(job), class: "btn btn-custom-color" %>
              </div>
            <% else %>
              <div class="card border-secondary">
                <div class="card-header bg-light" id="heading<%=index.to_s%>">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%=index.to_s%>" aria-expanded="false" aria-controls="collapseOne" onclick="this.blur();">
                      <% @rating = @review.average_rating %>
                      <%= render :partial => 'reviews/rating', locals: { post: @rating } %>
                      <span style="font-size:10pt;">(See Details of <%= @review.worker_first_name%>'s Performance)</span>
                    </button>
                  </h5>
                </div>

                <div id="collapse<%=index.to_s%>" class="collapse bg-light" aria-labelledby="heading<%=index.to_s%>">
                  <div class="card-body">
                    <%= render :partial => 'reviews/review', locals: { review: @review } %>
                  </div>
                </div>
              </div>

            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <script>
    var btn1 = document.getElementById('completed');
    var btn2 = document.getElementById('not-completed');
    var btn3 = document.getElementById('in-progress');

    btn1.addEventListener("click", onClick);
    btn2.addEventListener("click", onClick);
    btn3.addEventListener("click", onClick);

    function onClick(event){
      let className = event.target.className;
      let id = event.target.id;

      if(id == "completed"){
        document.getElementById("posts not-completed").className = "hidden"
        document.getElementById("posts in-progress").className = "hidden"
        event.target.className = "btn btn-light-blue active"
        document.getElementById("not-completed").className = "btn btn-light-blue"
        document.getElementById("in-progress").className = "btn btn-light-blue"
        document.getElementById("posts completed").className = ""
      }
      else if(id == "in-progress"){
        document.getElementById("posts not-completed").className = "hidden"
        document.getElementById("posts completed").className = "hidden"
        event.target.className = "btn btn-light-blue active"
        document.getElementById("not-completed").className = "btn btn-light-blue"
        document.getElementById("completed").className = "btn btn-light-blue"
        document.getElementById("posts in-progress").className = ""
      }
      else{
        document.getElementById("posts in-progress").className = "hidden"
        document.getElementById("posts completed").className = "hidden"
        event.target.className = "btn btn-light-blue active"
        document.getElementById("in-progress").className = "btn btn-light-blue"
        document.getElementById("completed").className = "btn btn-light-blue"
        document.getElementById("posts not-completed").className = ""
      }
    }

  </script>
</div>
</body>