<nav class="navbar navbar-dark navbar-expand-sm worker" data-turbolinks="false">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Handyman', worker_home_path, class: 'navbar-brand', style: 'color:black'%>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          find a Job
        </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <!-- loop way of displaying the menu -->
          <% $SPECIALTY_TYPES.each_with_index do |type, index|%>
            <p>
              <%= link_to $SPECIALTY_TYPES.at(index).to_s, job_type_path(index), class: 'dropdown-item'%>
            </p>
          <% end %>
          <%= link_to "See All", job_type_path(-1), class: 'dropdown-item'%>
        </div>
      </li>

      <li class="nav-item">
        <%= link_to 'Are you a Customer?', home_path, class: 'nav-link'%>
      </li>

      <% if worker_signed_in? %>
        <li>
          <%= link_to 'My Profile', worker_profile_path, class: 'nav-link'%>
        </li>

        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_worker_session_path, method: :delete, class: 'btn btn-outline-dark' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', new_worker_session_path, class: 'nav-link'%>
        </li>
        
        <li class="nav-item" style="float:right">
          <%= link_to 'Sign Up', new_worker_registration_path, class: 'nav-link'%>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
